{% extends 'layout.html' %}
{% block title %}
    系统首页
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-home" aria-hidden="true"></i> 系统首页
                </div>
                <div class="panel-body" style="height: 400px">
                    <h4>欢迎使用！</h4>
                </div>

            </div>
        </div>
    </div>
{% endblock %}