{% load rbac %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/iCheck/all.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
    <style>
        .error-msg {color: red;position: absolute;font-size: 13px;}
    </style>
    {% block init-css %}{% endblock %}
    <script src="{% static 'adminlte/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap-select/js/i18n/defaults-zh_CN.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'adminlte/js/adminlte.min.js' %}"></script>
    <script src="{% static 'adminlte/js/demo.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body id="my-body" class="hold-transition skin-blue-light sidebar-mini fixed">
<div class="wrapper">
    <header class="main-header">
        <a href="/index/" class="logo">
            <span class="logo-mini"><b>DA</b></span>
            <span class="logo-lg"><b>Django AdminLTE</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="collapse navbar-collapse pull-left">
                <ul class="nav navbar-nav">
                    {% block nav-menu %}
                    {% endblock %}
                </ul>
            </div>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static 'img/person.png' %}" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{% static 'img/person.png' %}" class="img-circle" alt="User Image">
                                <p>
                                    {{ user.username }}
                                    <small>始建于 {{ user.date_joined|date:'Y-m-d' }}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'logout' %}" class="btn btn-default btn-flat">退出登录</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            {% multimenu request %}
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            {% breadcrumb request %}
            {% block content %}{% endblock %}
        </section>
    </div>

    <aside class="control-sidebar control-sidebar-dark" style="display: none;">

        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">功能模块</h3>
            </div>

        </div>
    </aside>
    <div class="control-sidebar-bg"></div>
</div>

{% block init-js %}{% endblock %}
{% block body-js %}{% endblock %}

<script>
    $(function () {
        $('.form_date').datetimepicker({
            minView: "month",
            language: "zh-CN",
            sideBySide: true,
            format: 'yyyy-mm-dd',
            bootcssVer: 3,
            startDate: new Date(),
            autoclose: true,
            pickerPosition: "bottom-left"
        });
    });
</script>

</body>
</html>
