{% extends base_template|default:'layout.html' %}

{% block title %}
    {{ model_name }}列表
{% endblock %}

{% block head %}
<style>
    .search-group {
        padding: 5px 10px;
    }

    .search-group .row .whole {
        min-width: 40px;
        float: left;
        display: inline-block;
        padding: 5px 0 5px 8px;
        margin: 3px;
        font-weight: bold;

    }

    .search-group .row .others {
        padding-left: 60px;
    }

    .search-group .row a {
        display: inline-block;
        padding: 5px 8px;
        margin: 3px;
        border: 1px solid #d4d4d4;

    }

    .search-group .row a {
        display: inline-block;
        padding: 5px 8px;
        margin: 3px;
        border: 1px solid #d4d4d4;
    }

    .search-group a.active {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .table-list {border:1px solid #ddd;margin-bottom: 20px;}
    .table-list thead tr th {border:1px solid #ddd;background-color: #f5f5f5;}
    .table-list tbody tr td {border:1px solid #ddd;}

</style>

{% if date_range %}
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/daterangepicker/daterangepicker.css' %}">
{% endif %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-align-justify" aria-hidden="true"></i> {{ model_name }}列表

                </div>

                <div class="panel-body">

                    {% if search_group_row_list %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-filter" aria-hidden="true"></i> 快速筛选
                            </div>
                            <div class="panel-body">
                                <div class="search-group">
                                    {% for row in search_group_row_list %}
                                        <div class="row">
                                            {% for obj in row %}
                                                {{ obj|safe }}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if search_list %}
                        <div class="pull-right" style="margin-bottom: 10px;">
                            <form method="GET" class="form-inline">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="q" value="{{ search_value }}" placeholder="关键字搜索">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% endif %}


                    {% if date_range %}
                        <div class="pull-right" style="margin-bottom: 10px; margin-right: 5px;">
                            <form method="GET" class="form-inline">
                                <div class="input-group" style="width: 285px;">
                                    <span class="input-group-addon" style="background-color: #eee;">{{ date_title|default:'日期范围' }}</span>
                                    <input id="rangePicker" type="text" class="form-control" style="font-size: 13px;">
                                </div>
                            </form>
                        </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}

                        {% if user.is_authenticated and need_auth or not text_desc %}
                            {% if action_dict %}
                                <div class="pull-left" style="margin: 0 5px 10px 0;">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <select class="form-control" name="action">
                                                <option value="">-请选择操作-</option>
                                                {% for func_name,func_text in action_dict.items %}
                                                    <option value="{{ func_name }}">{{ func_text }}</option>
                                                {% endfor %}
                                            </select>
                                            <input class="btn btn-primary" type="submit" value="执行"/>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="pull-left form-inline" style="margin: 0 5px 0 0;vertical-align: middle;">
                                <div style="padding: 5px;">
                                    <i class="fa fa-info-circle"></i> <b>{{ text_desc }}</b>
                                </div>
                            </div>
                        {% endif %}

                        {% if add_btn %}
                            <div class="pull-left" style="margin: 0 5px 10px 0;">
                                {{ add_btn|safe }}
                            </div>
                        {% endif %}

                        <table class="table table-bordered table-list">
                            <thead>
                            <tr>
                                {% for item in header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in body_list %}
                                <tr>
                                    {% for ele in row %}
                                        <td>{{ ele }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    <nav>
                        <ul class="pagination" style="margin: 0;">
                            {{ pager.page_html|safe }}
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

{% if date_range %}
    <script src="{% static 'adminlte/bower_components/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'adminlte/bower_components/daterangepicker/daterangepicker.js' %}"></script>
    <script>
        $(function () {
            initDateRangePicker();

        });

        function initDateRangePicker() {
            var options = {
                startDate: moment('{{ date_start|default:"2019-01-01" }}'),
                maxDate: moment('{{ date_end|default:"" }}'),
                alwaysShowCalendars: true,
                showWeekNumbers: true,
                ranges: {
                    '今天': [moment(), moment()],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
                    '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    '本年': [moment().startOf('year'), moment().endOf('year')],
                    '最近7天': [moment().subtract(7, 'days'), moment()],
                    '最近30天': [moment().subtract(30, 'days'), moment()],
                    '最近90天': [moment().subtract(90, 'days'), moment()],
                },
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' 至 ',
                    applyLabel: '确定',
                    cancelLabel: '取消',
                    fromLabel: '开始',
                    toLabel: '结束',
                    customRangeLabel: '自定义',
                    weekLabel: 'W',
                    daysOfWeek: ['一', '二', '三', '四', '五', '六', '日'],
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    firstDay: 1
                }
            };

            $('#rangePicker').daterangepicker(options, function (start, end, label) {
                // 选择了时间之后，函数自动被触发。
                submitDateRangePicker(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
            });
        }

        function submitDateRangePicker(start, end) {
            var urlstr = window.location.href;
            //console.log(urlstr)
            if (urlstr.indexOf("?")!=-1){
                if (urlstr.indexOf("start_dt=")!=-1){
                    var param_start = urlstr.substr(urlstr.indexOf("start_dt="),19);
                    //console.log(param_start);
                    urlstr = urlstr.replace(param_start,"start_dt=" + start);
                    var param_end = urlstr.substr(urlstr.indexOf("end_dt="),17);
                    //console.log(param_end);
                    urlstr = urlstr.replace(param_end,"end_dt=" + end);
                    //console.log(urlstr);
                    location.href = urlstr;
                }else{
                    location.href = location.href + '&start_dt=' + start + '&end_dt=' + end ;
                }
            }else{
                location.href = location.href + '?start_dt=' + start + '&end_dt=' + end ;
            }
        }
    </script>
{% endif %}

{% endblock %}
