{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-users" aria-hidden="true"></i> 用户列表
                    <div class="btn-group pull-right">
                        <a href="{% url 'rbac:user_add' %}" class="btn btn-success btn-xs">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            新建用户
                        </a>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>重置密码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in users %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.email }}</td>
                            <td><a href="{% url 'rbac:user_reset_pwd' pk=row.id %}">重置密码</a></td>
                            <td style="width: 20%;">
                                <a href="{% url 'rbac:user_edit' pk=row.id %}" style="display: inline-block;">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>

                                <a href="{% url 'rbac:user_del' pk=row.id %}" style="color: #d9534f;display: inline-block;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}